.block{display:block;background:lightgreen;margin:10px;}
.inline{display:inline;background:lightblue;}
.inline-block{display:inline-block;background:orange;padding:5px;}
.float-left{float:left;background:pink;width:100px;height:50px;}
.float-right{float:right;background:violet;width:100px;height:50px;}
.clear{clear:both;background:gray;color:white;padding:10px;margin-top:60px;}