body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: white;
    text-align: center;
    padding: 25px;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.skills ul li {
    margin: 6px 0;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
